<div class="footer">

  <p> We make every effort to comply to ADA standards, and Section 508 of the Rehabilitation Act. 
    <a accesskey="A" href="http://www.capitol.hawaii.gov/ada.aspx">Visit our ADA page here.</a> If you have any problems with any of these pages, please 
    <a href="mailto:webmaster@capitol.hawaii.gov">contact the webmaster</a> with the page address and problems encountered.
  </p>

  <p><a href="http://www.capitol.hawaii.gov/privacy.aspx"> You may view our Privacy Policy here.</a></p>

</div>