<div class="header">
  <a href="{{ .Site.BaseURL }}" class="header-seal">Hawaii Seal</a>
  <a href="{{ .Site.BaseURL }}" class="header-title">Hawaii Revised Statutes</a>

  <button class="header-sidebar-toggle btn btn-flat btn-primary sidebar-toggle" onclick="showMenu(event)" aria-expanded="false"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></button>
  
  <div class="header-search">
    <form id="header-search" action="{{ .Site.BaseURL }}search">
      <label for="search-text" class="header-search-label">Search</label>
      <input id="search-text" class="header-search-input" name="q" type="text" oninput="searchChange(event)">
      <button type="submit" form="header-search" class="header-search-submit btn btn-flat btn-primary" aria-expanded="false"><i class="fa fa-search fa-2x" aria-hidden="true"></i></button>
    </form>
  </div>
</div>