
<div class="simpleNav">
  {{ with .NextInSection }}
  <a class="btn btn-primary simpleNav-left" href="{{ .Permalink }}">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
    {{ .Params.hrs_structure.section }}
  </a> 
  {{ end }}
  
  <a class="btn btn-primary simpleNav-center" href="../">Chapter {{.Params.hrs_structure.chapter}}</a>

  {{ with .PrevInSection }}
  <a class="btn btn-primary simpleNav-right" href="{{.Permalink}}">
    {{ .Params.hrs_structure.section }}
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </a>
  {{ end }}
</div>

